.DS_Store
Imagination.xcworkspace/xcuserdata/*
Imagination.xcodeproj/xcuserdata/youjuny.xcuserdatad/
Pods/Pods.xcodeproj/xcuserdata/youjuny.xcuserdatad/
Imagination.xcodeproj/project.xcworkspace/xcshareddata/
Imagination.xcodeproj/project.xcworkspace/xcuserdata/
